<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Detail</h1>
    <h4>
        <a href="/profiles/<%=profile.id%>">ชื่อ: <%=profile.name %>
                <%=profile.surname %></a>
    </h4>
    <p>การศึกษา: <%=profile.Educate %>
    </p>
</body>

</html>